VITE_SUPABASE_URL=https://juyxqeoatuiwfvwxkecg.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_ngubQwJsPOJhiENYfkzjag_nMKyztUs



DATABASE_URL=postgresql://postgres.juyxqeoatuiwfvwxkecg:KNL_ERP_DEV@aws-0-ap-northeast-2.pooler.supabase.com:5432/postgres
DB_CONNECT_TIMEOUT_SECONDS=15
host=aws-0-ap-northeast-2.pooler.supabase.com
port=5432
database=postgres
user=postgres.juyxqeoatuiwfvwxkecg