


DATABASE_URL='postgresql+psycopg://postgres.juyxqeoatuiwfvwxkecg:KNL_ERP_DEV@aws-0-ap-northeast-2.pooler.supabase.com:5432/postgres?sslmode=require'
DB_CONNECT_TIMEOUT_SECONDS=15
AUTH_SECRET_KEY=1pQtnW71X9Lqvf3tYHXg5Tz431rZ8oT0Y9qo8NgI1YJAQ_fu2ZrTmU7XouoUWpyr
